.cart {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.cart-heading {
    text-align: center;
    padding-bottom: 20px;
    border-bottom: 2px solid gainsboro;
}

.cart-item {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 10px;
}

#cart-name h3{
    margin:20px 0;
}

#cart-brand {
    font-size: 1.2rem;
    margin:20px 0;
}

#cart-price {
    font-family: 'Philospher';
    font-weight: 500;
    margin:20px 0;
}

#qty-btn {
    display: inline-block;
    border: 1px solid grey;
    border-radius: 5px;
    margin:10px 0;
}

#remove-cart {
    display: flex;
    justify-content: end;
}

.order-summary {
    text-align: center;
    background-color: whitesmoke;
    height: 50%;
    padding: 40px;
    border-radius: 10px;
}

.order-summary h1 {
    border-bottom: 1px solid gainsboro;
    padding-bottom: 20px;
}

.summary {
    display: flex;
    justify-content: space-between;
}

.summary h3{
    margin-right: 100px;
}

.empty-cart img {
    height: 40vh;
    margin-top: 20px;
}

/* Responsive */

@media screen and (max-width:768px) {
    .cart-item {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }

    .order-summary {
        margin-top: 30px;
        margin-bottom: 30px;
    }
}