.card-details {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 1300px;
    margin: auto;
    margin-top: 5vh;
    row-gap: 100px;
}

#loading {
    display: flex;
    justify-content: center;
    background-color: white;
    height: 70vh;
}

